.title {
  font-size: 23px;
  font-weight: 700;
  color: white;
  margin-left: 30px;
}

.daily-item {
  background-color: #00010857;
  border-radius: 15px;
  height: 40px;
  margin: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 20px;
  border: 2px solid rgba(87, 39, 149, 0.098);
  transition: transform .3s ease;
}
.daily-item:hover{
  transform: scale(.9);
}


.icon-small {
  width: 35px;
}

.day {
  color: white;
  flex: 1 1;
  font-weight: 600;
  margin-left: 15px;
}

.description {
  flex: 1 1;
  margin-right: 15px;
  text-align: right;
  color: whitesmoke;
}

.min-max {
  color: #b1acac;
}

.daily-details-grid {
  display: grid;
  grid-row-gap: 0;
  grid-column-gap: 15px;
  row-gap: 0;
  column-gap: 15px;
  flex: 1 1;
  grid-template-columns: auto auto;
  padding: 5px 15px;

}

.daily-details-grid-item {
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;

}

.daily-details-grid-item label:first-child {
  color: #f4f2f2;

}
.daily-details-grid-item label:last-child {
  color: #a39f9f;
}
