.container {
  max-width: 1080px;
  margin: 20px auto;

}

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}

.right-side{
  list-style: none;

}
.css-b62m3t-container{
  width: 100%;

}




.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

}
.spinner {
  width: 4em;
  height: 4em;
  border: 0.5em solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
